<div class="container pagecontainer">
    <div class="row">
        <div class="container grocerycontainer">
            <h1 class="pageheader">Grocery list</h1>
            <div ng-repeat="recipe in recipes">
                <h3 class="text-center">
                    {{recipe.name}}
                </h3>
                <ul class="grocery form-inline">
                    <li ng-repeat="ingredient in recipe.ingredients">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">
                            </label>
                        </div>
                        {{ingredient.quantity}}
                        {{ingredient.unit}}
                        {{ingredient.name}}
                    </li>
                </ul>
            </div>
            <h4 id="nullMessage" ng-if="recipes.length === 0">
               There seems to be nothing currently in your grocery list, go add some and come back soon!
            </h4>
            
        </div><!--/.container-->
    </div><!--/.row-->
</div>