/*Modal*/

.modal .modal-body {
    max-height: 500px;
    overflow-y: auto;
}

.modalbox {
    padding: 15px 50px;
    height: 500px;
    position: relative;
}

.modalbox h3 {
    padding-top: 15px;
    padding-bottom: 10px;
}

#modal2 h4 {
    margin-left: 100px;
}

label {
    font-weight: 300;
    font-size: 1.2em;
}

input[type="radio"] {
    margin-left: 20px;
}

#labeldifficulty {
    padding-left: 15px;
}

#labeltime {
    margin-right: 45px;
}

#labelhour {
    margin-right: 8px;
}

#labeladdtonew {
    margin-left: 14px;
}

#labeladdtoexisting {
    margin-top: 10px;
}

#addstepbutton {
    margin-top: -22px;
    margin-left: 6px;
}

#labelrecipename, #labelrecipedes {
    margin-left: 18px;
}

#inputrecipedes {
    margin-top: 6px;
}

#inputrecipedes {
    padding: 5px 10px;
}
    
#tags {
    margin-bottom: 50px;
}

.stepsize input[type=text] {
    width: 600px;
    height: 50px;
}

/*Next and back buttons*/

#backto1, #backto2, #backto3, #backto4, #backto5, #nextto2, #nextto3, #nextto4, #nextto5, #nextto6, #finish {
    position: absolute;
    top: 420px;
}

#backto1, #backto2, #backto3, #backto4, #backto5{
    left: 50px;
}

#nextto2, #nextto3, #nextto4, #nextto5, #nextto6, #finish {
    right: 50px;
}

#addIngredient {
    margin-bottom: 10px;
}