.recipepic img {
    width: 100%;
}

.recipename {
    font-weight: 300;
}

.recipepage li {
    display: inline;
    font-weight: 300;
    text-decoration: none;
    list-style: none;
    padding-right: 20px;
}