body {
    font-family: "Roboto", "Arial", sans-serif;
    margin-top: 140px;
    color: #2c2c2c;
    background-color: #313131;
}

.pagecontainer {
    background-color: white;
    padding-top: 30px;
}

/*Navbar*/
#logo {
    width: 100px;
    margin-right: 40px;
}

.navbar .glyphicon {
    font-size: 2.3em; 
    text-align: center;
}

.navbar {
    padding: 10px 30px;
}

.navbar a {
    color: #505050;
    padding-right: 60px;
}

.navbar a:hover {
    color: #969696;
    text-decoration: none;
}

.navbar h4 {
    font-weight: 300;
    margin-bottom: 0px;
}

.navbar li {
    margin-right: 30px;
}

.userpic {
    width: 70px;
    margin-top: 13px;
    margin-right: 20px;
}

#greeting {
    float: right;
    margin-top: 37px;
    font-weight: 300;
    font-size: 1.2em;
}

#greeting a {
    color: #2c2c2c;
    text-decoration: underline;
}

#greeting a:hover {
    color: #ff7600;
}

/*Dropdown*/
.dropdown li {
    padding: 5px 0;
}

.more {
    margin-bottom: 20px;
}

/*Recipes*/
.recipes {
    border: 1px solid #d3d3d3;
    padding: 15px;
    margin-bottom: 15px;
}

.recipes img {
    width:100%;
    height: 250px;
}

.recipes h2 {
    font-weight: 300;
    margin: 13px 0 10px 0;
}

.recipes a {
    color: #2c2c2c;
}

.recipes a:hover {
    text-decoration: none;
    color: #ff7600;
}

.recipes h5 {
    float: left;
    padding-right: 10px;
    margin: 0px 0;
    font-weight: 400;
}

/*Modal*/
.modalbox {
    padding: 20px 30px;
}

* {
  .border-radius(0) !important;
}

#field {
    margin-bottom:20px;
}
