<div class="container pagecontainer">
<div class="row">
    <div class="container more">
        <div class="dropdown navbar-left"> <!--Dropdown menu-->
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            All recipes
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <div class="col-lg-3 navbar-right"><!--Search bar-->
            <div class="input-group">
                <input type="text" class="form-control" ng-model="query" placeholder="Search">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div><!--/input-group-->
        </div><!--/.col-lg-2-->
    </div><!--/.container-fluid-->
</div><!--/.row-->
    
<div class="row">
    <div class="container">
        <h1 class="pageheader">Trending Now</h1>
        <div ng-repeat="recipe in recipes | filter:query" class="col-md-4 recipes">
            <a href="#/recipe/{{recipe._id}}">
                <img src="{{recipe.picture}}">
                <h2>{{recipe.name}}</h2>
            </a>
            <p>{{recipe.description}}</p>
            <h5>Serving size: {{recipe.servingSize}}</h5>
            <h5>Difficulty: {{recipe.difficulty}}</h5>
            <h5 ng-if="recipe.hours && recipe.minutes">Time: {{recipe.hours}} hour {{recipe.minutes}} min</h5>
            <h5 ng-if="recipe.hours && !recipe.minutes">Time: {{recipe.hours}} hour</h5>
            <h5 ng-if="recipe.minutes && !recipe.hours">Time: {{recipe.minutes}} min</h5>
        </div>

            <!--<a href="#">-->
                <!--<img src="../../assets/trending4.jpg" alt="Butternut Squash Soup">-->
                <!--<h2>Butternut Squash Soup</h2>-->
            <!--</a>-->
            <!--<p>Tart apples, sweet caramel and flaky pastry - this classic can't be beat.</p>-->
            <!--<h5>Serving size: 6-8</h5>-->
            <!--<h5>Difficulty: Easy</h5>-->
            <!--<h5>Time: 30 min</h5>-->
        <!--</div>-->
        <!--<div class="col-md-4 recipes">-->
            <!--<a href="#recipe">-->
                <!--<img src="../../assets/recipe1.jpg" alt="Spaghetti Bolognese">-->
                <!--<h2>Spaghetti Bolognese</h2>-->
            <!--</a>-->
            <!--<p>Craving Italian? Try this authentic and delicious spaghetti bolognese</p>-->
            <!--<h5>Serving size: 2</h5>-->
            <!--<h5>Difficulty: Easy</h5>-->
            <!--<h5>Time: 45 min</h5>-->
        <!--</div>-->
        <!--<div class="col-md-4 recipes">-->
            <!--<a href="#">-->
                <!--<img src="../../assets/trending1.jpg" alt="Sweet Potato Casserole">-->
                <!--<h2>Sweet Potato Casserole</h2>-->
            <!--</a>-->
            <!--<p>Tart apples, sweet caramel and flaky pastry - this classic can't be beat.</p>-->
            <!--<h5>Serving size: 8</h5>-->
            <!--<h5>Difficulty: Hard</h5>-->
            <!--<h5>Time: 1 hour 30 min</h5>-->
        <!--</div>-->
        <!--<div class="col-md-4 recipes">-->
            <!--<a href="#">-->
                <!--<img src="../../assets/trending7.jpg" alt="Roasted Brussel Sprouts">-->
                <!--<h2>Roasted Brussel Sprouts</h2>-->
            <!--</a>-->
            <!--<p>Quick, healthy, and because cheese makes everything taste better.</p>-->
            <!--<h5>Serving size: 2</h5>-->
            <!--<h5>Difficulty: Easy</h5>-->
            <!--<h5>Time: 15 min</h5>-->
        <!--</div>-->
        <!--<div class="col-md-4 recipes">-->
            <!--<a href="#">-->
                <!--<img src="../../assets/trending3.jpg" alt="Orange Cranberry Sauce">-->
                <!--<h2>Orange Cranberry Sauce</h2>-->
            <!--</a>-->
            <!--<p>Tart apples, sweet caramel and flaky pastry - this classic can't be beat.</p>-->
            <!--<h5>Serving size: 8</h5>-->
            <!--<h5>Difficulty: Hard</h5>-->
            <!--<h5>Time: 1 hour 30 min</h5>-->
        <!--</div>-->
        <!--<div class="col-md-4 recipes">-->
            <!--<a href="#">-->
                <!--<img src="../../assets/trending6.jpg" alt="Christmas Ham">-->
                <!--<h2>Christmas Ham</h2>-->
            <!--</a>-->
            <!--<p>Quick, healthy, and because cheese makes everything taste better.</p>-->
            <!--<h5>Serving size: 2</h5>-->
            <!--<h5>Difficulty: Easy</h5>-->
            <!--<h5>Time: 15 min</h5>-->
        <!--</div>-->
        <!--<div class="col-md-4 recipes">-->
            <!--<a href="#">-->
                <!--<img src="../../assets/trending8.jpg" alt="Egg Nog">-->
                <!--<h2>Egg Nog</h2>-->
            <!--</a>-->
            <!--<p>Quick, healthy, and because cheese makes everything taste better.</p>-->
            <!--<h5>Serving size: 2</h5>-->
            <!--<h5>Difficulty: Easy</h5>-->
            <!--<h5>Time: 15 min</h5>-->
        <!--</div>-->
        <!--<div class="col-md-4 recipes">-->
            <!--<a href="#">-->
                <!--<img src="../../assets/trending2.jpg" alt="Gingerbread Men">-->
                <!--<h2>Gingerbread Men</h2>-->
            <!--</a>-->
            <!--<p>Brighten up your week with a fun salad of fresh strawberries and tangy dressing.</p>-->
            <!--<h5>Serving size: 4</h5>-->
            <!--<h5>Difficulty: Easy</h5>-->
            <!--<h5>Time: 10 min</h5>-->
        <!--</div>-->
        <!--<div class="col-md-4 recipes">-->
            <!--<a href="#">-->
                <!--<img src="../../assets/trending9.jpg" alt="Poached Pears">-->
                <!--<h2>Poached Pears</h2>-->
            <!--</a>-->
            <!--<p>Quick, healthy, and because cheese makes everything taste better.</p>-->
            <!--<h5>Serving size: 2</h5>-->
            <!--<h5>Difficulty: Easy</h5>-->
            <!--<h5>Time: 15 min</h5>-->
        <!--</div>-->

    </div><!--/.container-->
</div><!--/.row-->
</div><!--/pagecontainer-->