<div class="container pagecontainer">
<div class="row">
    <div class="container more">
        <div class="dropdown navbar-left"> <!--Dropdown menu-->
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                All cookbooks
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Italian Feast</a></li>
                <li><a href="#">Weeknight Meals</a></li>
                <li><a href="#">Quick Desserts</a></li>
            </ul>
        </div>
        <div class="col-lg-3 navbar-right"><!--Search bar-->
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
            </div><!--/input-group-->
        </div><!--/.col-lg-2-->
    </div><!--/.container-fluid-->
</div><!--/.row-->

<!--Modal-->
<button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bs-example-modal-lg">Create new recipe</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <h2>Add a Recipe</h2>
            <form>
               <div class="container modalbox">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="form-group">
                                <label for="inputname">Name</label>
                                <input type="text" class="form-control" id="inputname" name="recipename">
                            </div><!--.form-group-->
                        </div><!--.col-md-3-->
                    </div><!--/.row-->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="form-group">
                                <h3>Ingredients</h3>
                                <label for="inputingredient">Ingredient</label>
                                <input type="text" class="form-control" id="inputingredient" placeholder="Apple">
                            </div><!--.form-group-->
                        </div><!--.col-md-3-->
                    </div><!--/.row-->
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div><!--/.container-->
        </div><!--/.modal-content-->
    </div><!--/.modal-dialog modal-lg-->
</div><!--/.modal fade-->

<div class="row">
    <div class="container">
        <div ng-repeat="recipe in recipes" class="col-md-4 recipes">
            <a href="#/recipe/{{recipe.name}}">
                <img src="{{recipe.picture}}">
                <h2>{{recipe.name}}</h2>
            </a>
            <p>{{recipe.description}}</p>
            <h5>Serving size: {{recipe.servingSize}}</h5>
            <h5>Difficulty: {{recipe.difficulty}}</h5>
            <h5 ng-if="recipe.hours && recipe.minutes">Time: {{recipe.hours}} hour {{recipe.minutes}} min</h5>
            <h5 ng-if="recipe.hours">Time: {{recipe.hours}} hour</h5>
            <h5 ng-if="recipe.minutes">Time: {{recipe.minutes}} min</h5>
        </div>
        <!--
        <div class="col-md-4 recipes">
            <a href="#">
                <img src="assets/recipe6.jpg" alt="Spinach Artichoke Dip">
                <h2>Spinach Artichoke Dip</h2>
            </a>
            <p>Dip a chip into this cheesey spinach and artichoke dip. It's a crowdpleaser every time.</p>
            <h5>Serving size: 6</h5>
            <h5>Difficulty: Easy</h5>
            <h5>Time: 30 min</h5>
        </div>
        <div class="col-md-4 recipes">
            <a href="#">
                <img src="assets/recipe3.jpg" alt="Balsamic Spring Salad">
                <h2>Balsamic Spring Salad</h2>
            </a>
            <p>Brighten up your week with a fun salad of fresh strawberries and tangy dressing.</p>
            <h5>Serving size: 4</h5>
            <h5>Difficulty: Easy</h5>
            <h5>Time: 10 min</h5>
        </div>
        <div class="col-md-4 recipes">
            <a href="#">
                <img src="assets/recipe2.jpg" alt="American Apple Pie">
                <h2>American Apple Pie</h2>
            </a>
            <p>Tart apples, sweet caramel and flaky pastry - this classic can't be beat.</p>
            <h5>Serving size: 8</h5>
            <h5>Difficulty: Hard</h5>
            <h5>Time: 1 hour 30 min</h5>
        </div>
        <div class="col-md-4 recipes">
            <a href="#">
                <img src="assets/recipe4.jpeg" alt="Lemony Roasted Chicken">
                <h2>Lemony Roasted Chicken</h2>
            </a>
            <p>A perfect weeknight meal to end the day with.</p>
            <h5>Serving size: 2</h5>
            <h5>Difficulty: Medium</h5>
            <h5>Time: 40 min</h5>
        </div>
        <div class="col-md-4 recipes">
            <a href="#">
                <img src="assets/recipe5.jpg" alt="Parmesan Asparagus">
                <h2>Parmesan Asparagus</h2>
            </a>
            <p>Quick, healthy, and because cheese makes everything taste better.</p>
            <h5>Serving size: 2</h5>
            <h5>Difficulty: Easy</h5>
            <h5>Time: 15 min</h5>
        </div>
        -->
    </div><!--/.container-->
</div><!--/.row-->
</div><!--/pagecontainer-->